.cart-container {
    padding: 3rem 4rem;
}
.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 423px; */
    min-height: 300px;
    background: #f3f5f9;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    gap: 10px;
}
.cart-title-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E1E8EE;
}
.no-item,
.title {
    height: 80px;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}
.no-item {
    text-align: center;
}
.cart-item-container {
    display: flex;
    flex-direction: column;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    height: 120px;
    width: 100%;
}
.image {
    margin-right: 50px;
}
.image img {
    width: 100px;
    height: 100px;
}
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 400px;
}
.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}
.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
.delete-btn {
  width: 18px;
  height: 17px;
  cursor: pointer;
}
.cart-left-group {
    display: flex;
    align-items: center;
    gap: 40px;
}
.quantity {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-right: 60px;
    gap: 10px;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 450px) {
    .cart-container {
        padding: 1rem 1rem;
    }
    .shopping-cart {
      width: 100%;
      height: auto;
    }
    .cart-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px;
        height: 450px;
        width: 100%;
    }
    .cart-left-group {
        flex-direction: column;
        gap: 20px;
    }
    .quantity {
        padding-top: 20px;
        margin-right: 60px;
        gap: 10px;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
}